# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
MATSE.iml
/uebung/
Programmierung mit Java/H1/H1Main.java
Programmierung mit Java/H1/Hausaufgaben_01.pdf
Programmierung mit Java/H1/Messreihe.java
Programmierung mit Java/H10/
Programmierung mit Java/H11/
Programmierung mit Java/H12/
Programmierung mit Java/H13/
Programmierung mit Java/H2/
Programmierung mit Java/H3/
Programmierung mit Java/H4/
Programmierung mit Java/H5/H5Main.java
Programmierung mit Java/H5/MyArrayList.java
Programmierung mit Java/H6/
Programmierung mit Java/H7/
Programmierung mit Java/H8/Blatt.java
Programmierung mit Java/H8/BlattVergleich.java
Programmierung mit Java/H8/BlattVergleich_bak.java
Programmierung mit Java/H8/H8Main.java
Programmierung mit Java/H9/
Programmierung mit Java/JavaFXTest/
Programmierung mit Java/Messwerte.txt
Programmierung mit Java/PA10/
Programmierung mit Java/PA2/
Programmierung mit Java/PA4/
Programmierung mit Java/PA5/
Programmierung mit Java/PA6/
Programmierung mit Java/PA7/
Programmierung mit Java/Probeklausur/
Programmierung mit Java/bundesliga1314.txt
Programmierung mit Java/emailadressbuch.txt
Programmierung mit Java/message.txt
README.md
out/production/MATSE/Hausaufgaben_01.pdf
out/production/MATSE/Hausaufgaben_02.pdf
out/production/MATSE/META-INF/
out/production/MATSE/first gui.fxml
out/production/MATSE/gold.txt
out/test/
